<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">HashQ</a>
      <div class="nav-collapse">
        
		<ul class="nav">
          	<li class="active"><a href="#">Home</a></li>
          	<li><a id='ahq' href="#" >Ask a #Q</a></li>
			
        </ul>
        
		<p class="navbar-text pull-right">Logged in as <a href="#"><%= @user.oauth.last.name %></a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="ask" style="margin-top: 0px;" class="shown">
	<%= 	render(	:partial => "poll_form", 
					:locals => { :object => @user})%>

</div>